.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    align-content: flex-start;
    margin: 0px;
    padding: 0px;
    background-color: blue;
}

.content {
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    align-content: flex-end;
    background-color: gray;
}

.logo {
    justify-content: center;
    padding: 30px;
}

.search-box {
    border: 1px solid green;
    border-radius: 25px;
    width: 40%;
}

.lens {
    height: 20px;
    width: 20px;
    padding: 5px;
}

.search-buttons {
    padding: 10px;
}

.inputtextbox {
    border: none;
}