body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    align-content: flex-start;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

.content {
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    align-content: flex-end;
    margin: -5px;
    padding: 0px;
    background-color: rgb(241, 241, 241);
    color:gray;
}

.logo {
    justify-content: center;
    padding: 30px;
}

.search-box {
    display: inline;
    border: 1px solid lightgrey;
    border-radius: 25px;
    width: 550px;
    height: 40px;
}

.search-box-icons {
    padding: 9px;
    color: lightgray;
}

.search-buttons-div {
    padding: 50px;
    float: right;
}
 .s-button {
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
 }

.inputtextbox {
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
}

li {
    display: inline;  
    padding-left: 10px;  
    padding-right: 10px;  
}

li a {
    color: black;
    text-decoration: none;
}

li.right{
    float: right;
}

li a:hover {
    text-decoration: underline;
}

.bluebox {
    background-color: rgb(66,133,244);
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

a.bottom-link {
    color: gray;
}